* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-default {
  background-color: #f44336;
}

.navbar-brand a:hover {
  color: grey;
}
.navbar-brand {
  color: white;
  text-align: center;
  margin: 5px;
  padding: 5px;
  font-size: 30px;
}
.navbar-nav {
  float: left;
}
nav a {
  color: white;
  text-decoration: none;
}

.anchor-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

footer {
  background-color: #f44336;
}
